<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <p class="footer-bio">
      <a href="{{ "/" | relative_url }}">Adventus</a> — a collection of thoughts by
      <a href="https://ashvin.dev">Ashvin Nagarajan</a>
    </p>

    <p class="footer-description">
      Writing about engineering, entrepreneurship, and whatever else comes to mind.
      Say <a href="mailto:ashvinagarajan@gmail.com">hello</a> if you want to chat.
    </p>

    {%- include social.html -%}

  </div>
</footer>
