<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-text"> <a href="http://ashvinnagarajan.github.io/blog" class="footer-link">Adventus</a> is a collection of thoughts by <a href="http://ashvinnagarajan.github.io" class="footer-link">Ashvin Nagarajan</a></h2>
    
    <p class="footer-text">
      I am a second year studying Materials Science and Engineering in the UCLA Henry Samueli School of Engineering.
      I am determined to understand and solve real world problems and I look forward to learning as much as possible. Feel free to send me a 
      <a style="color: white; text-decoration: underline;" href="mailto:anagarajan25@g.ucla.edu">message</a> if you want to talk further!
    </p>
    {%- include social.html -%}


  </div>

</footer>
