$white: rgba(255, 255, 255, .7);

body {
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.site-header, footer {
    background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

.footer-col, .footer-heading {
    color: white;
}

$color-gray: #FFFFFF;

.excerpt {
    color: $color-gray;
}

.post-head {
    display: flex;
}

.post-link {
    width: 400px;
}

.post-info {
    text-align: right;
}

.footer-text {
    color: $white;
}

.footer-link {
    color: $white;
}

.footer-link:hover {
    color: white;
}

.footer-link:visited {
    color: white;
}